.App {
  text-align: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; 
  flex-direction: column;
}

.title {
  font-size: 36px; /* Set font size */
  font-weight: bold; /* Set font weight */
  text-align: center; /* Center align text */
  margin-top: 50px; /* Set top margin */
  margin-bottom: 20px; /* Set bottom margin */
}

.signin-button {
  background-color: #b34fff; /* Set background color */
  border: none; /* Remove border */
  color: #ffffff; /* Set text color */
  padding: 10px 100px; /* Set padding */
  text-align: center; /* Center align text */
  text-decoration: none; /* Remove underline */
  font-size: 16px; /* Set font size */
  margin: 4px 2px; /* Set margin */
  cursor: pointer; /* Set cursor type */
  border-radius: 16px; /* Add border radius */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}