.App {
  text-align: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; 
  flex-direction: column;
}

.title {
  font-size: 36px; /* Set font size */
  font-weight: bold; /* Set font weight */
  text-align: center; /* Center align text */
  margin-top: 50px; /* Set top margin */
  margin-bottom: 20px; /* Set bottom margin */
}

.footer {
  font-size: 16px; /* Set font size */
  text-align: center; /* Center align text */
  margin-top: 40px; /* Set top margin */
  margin-bottom: 20px; /* Set bottom margin */
}

.input {
  margin: 8px;
  padding: 4px 20px;
  border-radius: 5px;
  border: 1px #ccc;
  font-size: 16px;
}

.signin-button {
  background-color: #b34fff; /* Set background color */
  border: none; /* Remove border */
  color: #ffffff; /* Set text color */
  padding: 10px 100px; /* Set padding */
  text-align: center; /* Center align text */
  text-decoration: none; /* Remove underline */
  font-size: 16px; /* Set font size */
  margin: 8px; /* Set margin */
  cursor: pointer; /* Set cursor type */
  border-radius: 16px; /* Add border radius */
  font-weight: bold;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.wallet-pop-up-text {
  border: 2px solid #d997ff;
  padding: 8px 16px;
  border-radius: 5px;
  background-color: #d997ff;
  color: #a347ff;
  font-weight: bold;
  margin: 8px;
}